@tailwind base;
@tailwind components;
@tailwind utilities;


/* dt-empty */
.dt-empty {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}